{% extends "main.html" %}

{% block content %}
<img src="/static/images/mountains.jpg" alt="sdsds" height="200" width="200">
<h1>This is Index.html.</h1>
<div class="container">
    <UL>
      
        {% for stud in studData %}
       
        
        {% comment %} {% ifchanged stud.address %}
        <hr>
        {% endifchanged %}        
        <li> {{ stud.rno }}
           {{ stud.name }} 
            {{ stud.address|slugify }}
            {{ stud.data|filesizeformat }}
            {{ stud.status|title }}
            {{ stud.movie }}
            {{ stud.dob | date:"SHORT_DATE_FORMAT"}}
            {{ stud.car|default_if_none:"Mercedez" }}
            {{ stud.filestype|linenumbers}}
            {{ stud.urldata|urlencode }}
            
        </li> {% endcomment %}
        
    <li> {{ stud.rno }} 
         {{ stud.rname }} 
         {{ stud.raddress }} 
         
         </li>

        {% endfor %}
    </UL>
</div>
{% endblock content %}