{% extends "main.html" %}
{% block content %}
  <img src="/static/images/mountains.jpg" alt="sdsds" height="200" width="200">
    <h1>This is Index.html.</h1>
    <div class="container">
      <table class="table">
      {% for stud in studData %}
      {% for stud in studData %}
        <tr>        
          <td class="{% cycle 'tdclass' 'tdclass1' '' '' %}">{{ stud.rno }}</td>
          <td>{{ stud.name }} </td>
          <td>{{ stud.address }}</td>
          <td>{{ stud.status|title }} </td>
        </tr>
      {% endfor %}  
      {% endfor %}
      {% for stud in studData %}
        <tr>
          <td>{{forloop.counter|add:2}} </td>          
          <td>{{ stud.name }} </td>
          <td>{{ stud.address }}</td>          
          <td>{{ stud.status }} </td>
          {% comment 'This is Comment' %}
          {% endcomment %} 
        </tr>
      {% endfor %}
      </table>
    </div>
{% endblock content %}
